.App {
  text-align: center;
  background-image: url('https://i.imgur.com/lRpHZjr.png');
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  position:relative;
}

.App-header .upperContainer{
  width:100%;
  height:25%;
  display:flex;
}

.App-header .logoContainer{
  width:45%;
}
.App-header .logoContainer img{
  width:50%;
}


.App-header .navContainer{
  display:flex;
  flex-direction:row;
  width:60%;
}

.App-link {
  color: #09d3ac;
}

